<footer class="footer">
  <div class="footer-container">
    <div class="footer-menu">
      <a href="./index.html" class="footer-logo">yachtjet</a>
      <ul class="footer-menu-list">
        <li class="">
          <a href="#about-us" class="footer-list-link">About</a>
        </li>
        <li class="">
          <a href="#our-yachts" class="footer-list-link yachts">Yachts</a>
        </li>
        <li class="">
          <a href="#reviews" class="footer-list-link">Reviews</a>
        </li>
      </ul>
      <ul class="footer-icons-list">
        <li class="footer-icon-item">
          <a
            class="footer-icons-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="footer-icon-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-footer-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a
            class="footer-icons-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="footer-icon-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-footer-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a
            class="footer-icons-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="footer-icon-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-footer-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-slogan-container">
      <p class="footer-slogan">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
    </div>

    <div class="footer-info">
      <p class="footer-adventures">2023. Yacht Adventures</p>
      <a href="" class="footer-privacy">Privacy Police</a>
    </div>
  </div>
</footer>
