<footer class="footer">
  <div class="footer-container">
    <div class="footer-menu">
      <a href="./index.html" class="footer-logo">yachtjet</a>
      <ul class="footer-menu-list">
        <li class="footer-list-item">ABOUT</li>
        <li class="footer-list-item">YACHTS</li>
        <li class="footer-list-item">REVIEWS</li>
      </ul>
      <ul class="footer-icons-list">
        <li class="footer-icon-item">
          <a href="">
            <svg class="footer-icon-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-footer-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a href="">
            <svg class="footer-icon-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-footer-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a href="">
            <svg class="footer-icon-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-footer-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-slogan-container">
      <p class="footer-slogan">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
    </div>

    <div class="footer-info">
      <p class="footer-adventures">2023. Yacht Adventures</p>
      <a href="" class="footer-privacy">Privacy Police</a>
    </div>
  </div>
</footer>
