<header class="header-container">
  <div class="container">
    <div class="header-wrap">
      <a href="/src/index.html" class="logo"> yachtjet </a>
      <button type="button" class="mob-menu-btn">
        <svg width="28" height="28" class="open-menu-icon">
          <use href="../img/icons.svg#icon-header-open-btn"></use>
        </svg>
      </button>
      <nav class="hed-nav">
        <ul class="nav-menu-item">
          <li class="nav-menu-list">
            <a href="#about-us" class="nav-menu-link">About</a>
          </li>
          <li class="nav-menu-list">
            <a href="#our-yachts" class="nav-menu-link">Yachts</a>
          </li>
          <li class="nav-menu-list">
            <a href="#reviews" class="nav-menu-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="soc-icon-item">
        <li class="soc-icon-list">
          <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer"
            ><svg width="24" height="24" class="soc-icon">
              <use href="../img/icons.svg#icon-footer-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-icon-list">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer"
            ><svg width="24" height="24" class="soc-icon">
              <use href="../img/icons.svg#icon-footer-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="soc-icon-list">
          <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer"
            ><svg width="24" height="24" class="soc-icon">
              <use href="../img/icons.svg#icon-header-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
