<header class="header-container">
  <div class="container">
    <a href="/src/index.html" class="logo"> yachtjet </a>
    <button type="button">
      <svg width="21" height="7" class="mob-menu-btn">
        <use href="../img/icons.svg#icon-header-open-btn"></use>
      </svg>
    </button>
  </div>
  <nav class="hed-nav">
    <ul>
      <li>About</li>
      <li>Yachts</li>
      <li>Reviews</li>
    </ul>
  </nav>
  <ul>
    <li>
      <a href="https://www.instagram.com/goitclub/"
        ><svg width="24" height="24">
          <use href="../img/icons.svg#icon-footer-instagram"></use></svg>
        </a>
    </li>
    <li>
      <a href="https://www.youtube.com/c/GoIT"
        ><svg width="24" height="24">
          <use href="../img/icons.svg#icon-footer-youtube"></use></svg>
        </a>
    </li>
    <li>
      <a href="https://www.facebook.com/goITclub/"
        ><svg width="24" height="24">
          <use href="../img/icons.svg#icon-header-facebook"></use></svg>
        </a>
    </li>
  </ul>
</header>
