<div class="backdrope">
  <div class="mob-menu">
    <div class="container">
      <nav class="menu-novigation">
        <a class="menu-novigation-text" href="/src/index.html">yachtjet</a>
        <button type="button" class="close-btn-menu">
          <svg class="btn-menu-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-header-close-btn"></use>
          </svg>
        </button>
      </nav>
      <div class="button-container">
        <ul class="list-button">
          <li class="button-btn">
            <a href="#about-us" class="button-btn-link">About</a>
          </li>
          <li class="button-btn">
            <a href="#our-yachts" class="button-btn-link">Yachts</a>
          </li>
          <li class="button-btn">
            <a href="#reviews" class="button-btn-link">Reviews</a>
          </li>
        </ul>
      </div>
      <div class="social-container-menumob">
        <ul class="list-social-menumob">
          <li class="social-icons-menumob">
            <svg class="icons-social-mobmenu" width="19" height="19">
              <use href="./img/icons.svg#icon-header-instagram"></use>
            </svg>
          </li>
          <li class="social-icons-menumob">
            <svg class="icons-social-mobmenu" width="19" height="19">
              <use href="./img/icons.svg#icon-header-youtube"></use>
            </svg>
          </li>
          <li class="social-icons-menumob">
            <svg class="icons-social-mobmenu" width="19" height="19">
              <use href="./img/icons.svg#icon-header-facebook"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
