<section class="rewievs" id="reviews">
    <div class="container">
        <h2 class="rewievs-title">
            YachtJet take pride in providing the best possible service and experience to our customers
        </h2>
        <p class="rewievs-text">
            Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to
            find out
            what they have to say about their journey with us.
        </p>
        <ul class="rewievs-list">
            <li class="rewievs-list-item">
                <img
                class="rewievs-list-img"
                width="56"
                height="56"
                srcset="./img/reviews/john-2x.jpg 2x, ./img/reviews/john-1x.jpg 1x"
                src="./img/reviews/john-1x.jpg" 
                alt="John Wax portret">
                <h3 class="rewievs-list-title">
                    John Wax
                </h3>
                <p class="rewievs-list-text">
                    I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever.
                    The yacht was
                    spacious, comfortable, and luxurious, and the crew took care of everything.
                </p>
            </li>
            <li class="rewievs-list-item rewievs-list-item2">
                <img 
                    class="rewievs-list-img" 
                    width="56" height="56"
                    srcset="./img/reviews/victoria-1x.jpg 2x, ./img/reviews/victoria-1x.jpg 1x" 
                    src="./img/reviews/victoria-1x.jpg"
                    alt="Victoria Romashenko portret">
                <h3 class="rewievs-list-title">
                    Victoria Romashenko
                </h3>
                <p class="rewievs-list-text">
                    The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all
                    the amenities we needed, and the crew was attentive and friendly.
                </p>
            </li>
            <li class="rewievs-list-item rewievs-list-item3">
                <img 
                    class="rewievs-list-img" 
                    width="56" height="56"
                    srcset="./img/reviews/ihor-1x.jpg 2x, ./img/reviews/ihor-1x.jpg 1x" 
                    src="./img/reviews/ihor-1x.jpg"
                    alt="Ihor Trachuk portret">
                <h3 class="rewievs-list-title">
                    Ihor Trachuk
                </h3>
                <p class="rewievs-list-text">
                    The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor
                    areas were perfect for relaxing and entertaining. Worth every penny!
                </p>
            </li>
        </ul>
    </div>
</section>