.backdrope {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #0e1823;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-novigation {
  display: flex;
  width: 335px;
  height: 42px;
  top: 16px;
  left: 20px;
  border-radius: 8px;
  border: 1px;
  background-color: #fbfbfb;
  align-items: end;
  justify-content: flex-end;
}

.menu-novigation-text {
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-right: 215px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #1b414b;
  display: flex;
}
.close-btn-menu {
  background: transparent;
  color: #055545;
  border: none;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  padding: 0;
  margin-right: 20px;
}

.btn-menu-icon {
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  fill: #055545;
}

.list-button {
  display: flex;
  flex-direction: column;
  padding-left: 142px;
  padding-right: 142px;
  margin-top: 201px;
  gap: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button-btn-link {
  font-family: Inter;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0em;
  color: #fbfbfb;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-btn {
  border-radius: 8px;
  border-color: none;
  width: 91px;
  height: 40px;
  background-color: #1b414b80;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-btn :hover {
  background-color: #1b414b;
  border-radius: 8px;
  border-color: none;
}
.button-btn :focus {
  background-color: #1b414b;
  border-radius: 8px;
  border-color: none;
}
.social-container-menumob {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding-right: 143px;
  padding-left: 144px;
  padding-bottom: 40px;
  margin-top: 361px;
}
.list-social-menumob {
  display: flex;
  gap: 8px;
}
.icons-social-mobmenu {
  border-radius: 50%;
  fill: #fbfbfb;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
