
.rewievs {
    padding-bottom: 80px;
}

.rewievs-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 25px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
}

.rewievs-text {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    opacity: 0.4;
}

.rewievs-list-item {
    padding: 32px 16px;
    border-radius: 24px;
    background: rgb(251, 251, 251);
}

.rewievs-list-item2,
.rewievs-list-item3 {
    display: none;
}

.rewievs-list-img {
    margin: 0 auto 24px auto;
    border-radius: 50%;
}

.rewievs-list-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
    margin-bottom: 8px;
}

.rewievs-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
}

@media only screen and (min-width: 768px) {

    .rewievs {
        padding-bottom: 150px;
    }

    .rewievs-title {
        font-size: 48px;
    }

    .rewievs-text {
        font-size: 14px;
        line-height: 1.29;
        width: 571px;
        margin: 0 auto 75px auto;
    }

    .rewievs-list {
        display: flex;
        gap: 32px;
    }

    .rewievs-list-item2 {
        display: block;
    }

}

@media only screen and (min-width: 1280px) {

    .rewievs {
        padding-right: 25px;
        padding-left: 25px;
    }

    .rewievs-title {
        width: 854px;
        margin-left: auto;
        margin-right: auto;
    }

    .rewievs-list {
        gap: 26px;
        justify-content: center;
    }

    .rewievs-list-item {
        padding-left: 42px;
        padding-right: 42px;
    }

    .rewievs-list-item3 {
        display: block;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 32px 25px 0 25px;
        margin: 0 auto;
    }

    .rewievs-list {
        gap: 32px;
    }

    .rewievs-list-item {
        padding-left: 37px;
        padding-right: 37px;
        max-width: 392px;
    }
}